body{
  overflow: hidden;
}
footer .course *> img{
  cursor: pointer;
  position: relative;
  right: 3rem;
}
footer .course #box1{
  position: relative;
  left: 2rem;
}
footer .course #box3{
  position: relative;
  right: 2rem;
}
footer .course #box4{
  position: relative;
  right: 2.5rem;
}
footer .course #box5{
  position: relative;
  right: 2rem;
}
footer .course #box6{
  position: relative;
  right: 2rem;
}
footer .course #box7{
  position: relative;
  right: 2.5rem;
}
footer .course #box8{
  position: relative;
  right: 2.5rem;
}
footer .course #box9{
  position: relative;
  right: 2.5rem;
}
footer .course #box10{
  position: relative;
  right: 2.5rem;
}
footer .course #box11{
  position: relative;
  right: 2.5rem;
}
footer .course #box12{
  position: relative;
  right: 2rem;
}
footer .course #box13{
  position: relative;
  top: 0.3rem;
  right: 2.5rem;
}
footer .course #box14{
  position: relative;
  right: 3.25rem;
}
footer .course #box15{
  position: relative;
  right: 2.5rem;
}
footer .course #box16{
  position: relative;
  right: 3rem;
}
footer .course #box17{
  position: relative;
  right: 4rem;
}
footer .course #box18{
  position: relative;
  right: 4rem;
}
footer .course #box19{
  position: relative;
  right: 4rem;
}
footer .course #box20{
  position: relative;
  right: 4rem;
}
footer .course #box21{
  position: relative;
  right: 4rem;
}
footer .course #box22{
  position: relative;
  right: 4rem;
}
footer .course #box23{
  position: relative;
  right: 4rem;
}
footer .course #box24{
  position: relative;
  top: 0.25rem;
  right: 4rem;
}
footer .course #box25{
  position: relative;
  right: 4rem;
}
footer .course #box26{
  position: relative;
  right: 4rem;
}
